.search {
  width: 100%;
  @include margins;
  margin-top: 50px;
  margin-bottom: 20px;
  
  
  div {
    background-color: white;
    width: 100%;
    @include flex-row(flex-start,center,no-wrap);
    border-radius: 10px;
  }
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
  }

  button {
    border: none;
    outline: none;
    width: 100px;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid rgb(40, 40, 40);
  }
}

.content-wrapper {
  min-height: 100vh;

  h3 {
    @include margins;
    font-size: 2rem;
    color: white;
  }
}

#side-nav {
  width: 50px;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  img {
    width: 100%;
    height: 100%;
  }
}

.side-nav {
  @include flex-column(flex-start, center, no-wrap);
  margin-top: 100px;

  a, div {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: white;
    cursor: pointer;
  }

  .active-link {
    color: rgb(57, 198, 235)
  }
}

.MuiDrawer-paper {
  background-color: rgba(#1355a4,0.9) !important;
}